*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoBlack.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family: "Roboto", system-ui;
  --white: #ffffff;
  --orange: #fe8e05;
  --dark-red: #621402;
  --transition: all 0.3s ease-in-out;
}

html,
body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../images/bg.webp');
  background-color: var(--dark-red);
  color: var(--white);
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

a {
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

p, h1 {
  margin: 0;
}

button,
input {
  outline: none;
  border: none;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1270px;
  width: 90%;
}

.header-wrapper {
  padding: 30px 0;
  display: flex;
  align-items: center;
}

.header-link {
  margin-right: 57px;
}

.burger {
  display: none;
}

.nav {
  position: relative;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 25px;
}

.user {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 11px;
}

.user-text {
  font-size: 16px;
}

.user-img {
  width: 33px;
  height: 33px;
}

.film-wrapper {
  padding: 60px 0 69px;
  display: flex;
  align-items: center;
}

.film-subtitle {
  margin-bottom: 11px;
  display: block;
  font-size: 24px;
  line-height: 150%;
  opacity: 0.5;
}

.film-title {
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 36px;
}

.film-descr {
  margin-bottom: 56px;
  max-width: 570px;
  font-size: 16px;
  line-height: 150%;
}

.film-trailer  {
  margin: auto;
}

.film-details {
  display: flex;
  align-items: center;
  gap: 34px;
}

.time {
  display: flex;
  align-items: center;
  gap: 14px;
}

.time img {
  width: 20px;
  height: 20px;
}

.time span {
  font-size: 16px;
  line-height: 150%;
}

.rating {
  display: flex;
  align-items: center;
  gap: 12px;
}

.rating img {
  width: 35px;
  height: 17.5px;
}

.rating span {
  font-size: 16px;
  line-height: 150%;
}

.rating strong {
  font-weight: 700;
  font-size: 24px;
}

.session {
  padding: 46px 0 64px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.session-label {
  margin-bottom: 33px;
  display: block;
  font-size: 16px;
  line-height: 150%;
}

.session-date .session-label {
  margin-bottom: 20px;
}

.session-date-block {
  display: flex;
  align-items: center;
  gap: 15px;
}

.session-date-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: var(--transition);
}

.session-date-item:hover {
  background-color: var(--orange);
  color: var(--dark-red);
}

.session-month {
  font-size: 16px;
}

.session-day {
  font-weight: 900;
  font-size: 30px;
}

.session-day-week {
  font-size: 19px;
}

.select {
  padding: 18px;
  height: 60px;
  font-size: 16px;
  line-height: 150%;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.15);
  color: var(--white);
}

.select option {
  background-color: var(--dark-red);
}

.select-cinema {
  width: 470px;
}

.select-time {
  width: 108px;
}

.places-wrapper {
  padding: 63px 0 158px;
}

hr {
  margin: 0;
  opacity: 0.5;
}

.scheme {
  border-radius: 10px;
  background-color: rgba(36, 36, 36, 0.18);
}

.scheme-svg {
  max-width: 1170px;
  min-height: 600px;
}

.scheme path:not(.light) {
  cursor: pointer;
  fill: rgba(255, 255, 255, 0.2);
  transition: var(--transition);
}

.scheme path:not(.light):hover {
  fill: rgba(255, 255, 255, 0.5);
}

.scheme path.booked,
.scheme path.booked:hover {
  cursor: not-allowed;
  fill: rgba(255, 255, 255, 0.05);
}

.legend {
  margin: 0 auto;
  padding: 22px 0 38px;
  display: flex;
  align-items: center;
  gap: 30px;
  max-width: 1018px;
  width: 90%;
  border-top: 1px solid rgba(255, 255, 255, 0.5)
}

.legend-group {
  display: flex;
  align-items: center;
  gap: 17px;
}

.legend-group span {
  font-size: 18px;
  opacity: 0.5;
}

.legend-active svg path {
  fill: var(--orange);
  stroke-width: 2px;
  stroke: var(--orange);
}

.legend-active span {
  opacity: 1;
  color: var(--orange);
}

.scheme path.active,
.scheme path.active:hover {
  fill: var(--orange);
}

.price {
  padding-top: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-label {
  display: block;
  margin-bottom: 12px;
  font-size: 18px;
}

.price-total,
.price-symbol {
  font-size: 52px;
}

.price-total {
  margin-right: 12px;
}

.button-pay {
  padding: 24px 52px;
  font-weight: 700;
  font-size: 18px;
  border-radius: 5px;
  background-color: var(--orange);
}

@media (width <= 1200px) {
  .container {
    max-width: 1060px;
  }

  .select-cinema {
    width: 100%;
  }

  .scheme {
    overflow-x: auto;
  }
}

@media (width <= 992px) {
  .container {
    max-width: 850px;
  }

  .nav-list {
    gap: 20px;
  }

  .session {
    flex-wrap: wrap;
    row-gap: 40px;
  }

  .session-date {
    flex-basis: 70%;
  }

  .session-time {
    order: 2;
  }

  .session-cinema {
    order: 3;
  }
}

@media (width <= 860px) {
  .container {
    max-width: 660px;
  }

  .nav-list {
    position: absolute;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    top: 40px;
    left: 0;
    border-radius: 10px;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    background-color: var(--dark-red);
    transform: translateY(20%);
    transition: opacity 0.5s, transform 0.5s;
  }

  .is-open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .header-link {
    margin-right: 30px;
  }

  .burger {
    padding: 0;
    display: block;
    background-color: transparent;
  }

  .burger img {
    width: 30px;
    height: 30px; 
  }

  .film-wrapper {
    flex-direction: column;
    row-gap: 40px;
  }

  .film-trailer {
    margin-left: 0;
    margin-right: auto;
  }

  .session-date {
    flex-basis: 100%;
  }

  .session-date-block {
    flex-wrap: wrap;
  }

  .select {
    padding: 10px;
  }

  .price {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 40px;
  }

  .button-pay {
    padding: 24px 36px;
  }
}

@media (width <= 390px) {
  .user {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
}